{% extends 'base.html' %}
{% load static %}
{% block content %}
<div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
>
  {% include 'Admin/sidebar.html' %}
  <!-- Main wrapper -->
  <div class="body-wrapper">
    {% include 'includes/navbar.html' %}
    <div class="container-fluid">
      <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
        <div class="card-body px-4 py-3">
          <div class="row align-items-center">
            <div class="col-9">
              <h4 class="fw-semibold mb-8">Admin</h4>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item" aria-current="page">Time Table</li>
                </ol>
              </nav>
            </div>
            <div class="col-3">
              <div class="text-center mb-n5">
                <img
                  src="/static/assets/images/ChatBc.png"
                  alt=""
                  class="img-fluid mb-n4"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-container">
          <div class="main-content">
              <!--Type from here onwards-->
              <div class="admin-timetable">
                  <div class="timetable-button">
                      <div class="add-button">
                          <button type="button" onclick="document.getElementById('id01').style.display = 'block'">
                              <span aria-hidden="true" id="add-timetable-symbol"><strong>+</strong></span>
                              <span>Add Student TimeTable</span>
                          </button>
                          <button type="button" onclick="document.getElementById('id02').style.display = 'block'">
                              <span aria-hidden="true" id="add-timetable-symbol">+</span>
                              <span>Add faculty TimeTable</span>
                          </button>
                          <button type="button" onclick="document.getElementById('id03').style.display = 'block'">
                              <span aria-hidden="true" id="add-timetable-symbol">+</span>
                              <span>Add Staff TimeTable</span>
                          </button>
                      </div>
                  </div>
                  <div class="created-timetable-container">
                      <div class="timetable-tabs-container">
                          <button type="button" class="timetable-tabs" onclick="show(event, 'student')"
                              id="defaultTab"><span>Student Time Table</span></button>
                          <button type="button" class="timetable-tabs" onclick="show(event, 'faculty')"><span>Faculty Time
                            Table
                          </span></button>
                          <button type="button" class="timetable-tabs" onclick="show(event, 'staff')"><span>Staff Time
                            Table</span></button>    
                      </div>
                      <div class="timetable-content" id="student">
                          <h1>Student Time Table</h1>
                          <table>
                            {% for timetable in student_timetables %}
                              <thead>
                                  <tr>
                                      <th>Class</th>
                                      <th>Section</th>
                                      <th>Timetable</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>{{ timetable.class_linked}}</td>
                                      <td>{{ timetable.section_linked}}</td>
                                      <td><a href="{{ timetable.file.url }}" download>Download</a></td>
                                  </tr>
                              </tbody>
                              {% endfor %}
                          </table>
                      </div>
                      <div class="timetable-content" id="faculty">
                          <h1>Faculty Time Table</h1>
                          <table>
                            {% for timetable in faculty_timetables %}
                              <thead>
                                  <tr>
                                      <th>Faculty Name</th>
                                      <th>Timetable</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>{{ timetable.faculty.name }}</td>
                                      <td><a href="{{ timetable.file.url }}" download>Download</a></td>
                                  </tr>
                              </tbody>
                              {% endfor %}
                          </table>
                      </div>
                      <div class="timetable-content" id="staff">
                          <h1>Staff Time Table</h1>
                          <table>
                            {% for timetable in staff_timetables %}
                              <thead>
                                  <tr>
                                      <th>Staff Name</th>
                                      <th>Timetable</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>{{ timetable.staff.name }}</td>
                                      <td><a href="{{ timetable.file.url }}" download>Download</a></td>
                                  </tr>
                              </tbody>
                              {% endfor %}
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--This brings up the Student TimeTable form-->
  <div id="id01" class="modal" style="display: none;">
      <form id="student-timetable-form" class="modal-content animate" method="post" enctype="multipart/form-data" action="{% url 'timetable' %}">
          {% csrf_token %}
          <label for="select-class"><b>Select Class</b></label>
          <select name="class_linked" id="select-class" required>
              <option value="">Select a class</option>
              {% for class in classes %}
              <option value="{{ class.id }}">{{ class.name }}</option>
              {% endfor %}
          </select>
          <label for="select-section"><b>Select Section</b></label>
          <select name="section_linked" id="select-section" required>
              <option value="" disabled selected>Select Section</option>
              {% for section in sections %}
              <option value="{{ section.id }}">{{ section.name }}</option>
              {% endfor %}
          </select>
          {{ student_form.as_p }}
          <div class="submit-button">
              <button type="submit" name="submit_student">Upload Timetable</button>
              <button type="button" onclick="closeStudentForm()"
                  class="cancelbtn">Cancel</button>
          </div>
      </form>
  </div>
  <!--This brings up the Staff Time Table Form-->
  <div id="id02" class="modal" style="display: none;">
      <form id="faculty-timetable-form" class="modal-content animate" method="post" enctype="multipart/form-data" action="{% url 'timetable' %}">
          {% csrf_token %}
          {{ faculty_form.as_p }}
          <div class="submit-button">
              <button type="submit" name="submit_faculty">Upload Timetable</button>
              <button type="button" onclick="closeStaffForm()"
                  class="cancelbtn">Cancel</button>
          </div>
      </form>
  </div>
  <div id="id03" class="modal" style="display: none;">
      <form id="staff-timetable-form" class="modal-content animate" method="post" enctype="multipart/form-data" action="{% url 'timetable' %}">
          {% csrf_token %}
          {{ staff_form.as_p }}
          <div class="submit-button">
              <button type="submit" name="submit_staff">Upload Timetable</button>
              <button type="button" onclick="closeStaffForm()"
                  class="cancelbtn">Cancel</button>
          </div>
      </form>
  </div>
  <script>
      document.addEventListener("DOMContentLoaded", function () {
          const classSelect = document.getElementById('select-class');
          const sectionSelect = document.getElementById('select-section');
          const sections = JSON.parse('{{ sections_json|escapejs }}');

          classSelect.addEventListener('change', function () {
              const selectedClassId = this.value;
              sectionSelect.innerHTML = '<option value="">---------</option>';
              sections.forEach(function (section) {
                  if (section.fields.class_linked === parseInt(selectedClassId)) {
                      const option = document.createElement('option');
                      option.value = section.pk;
                      option.text = section.fields.name;
                      sectionSelect.appendChild(option);
                  }
              });
          });
      });
  </script>
  <script>
      function show(event, timeTableType) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("timetable-content");
          for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("timetable-tabs");
          for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(timeTableType).style.display = "block";
          event.currentTarget.className += " active";
      }

      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultTab").click();
  </script>
  <script>
      function closeStudentForm(){
          const studentTimeTableForm = document.getElementById('student-timetable-form');
          studentTimeTableForm.reset();
          document.getElementById('id01').style.display='none';
      }
      function closeStaffForm(){
          const staffTimeTableForm = document.getElementById('faculty-timetable-form');
          const nonStaffTimeTableForm = document.getElementById('staff-timetable-form');
          staffTimeTableForm.reset();
          nonStaffTimeTableForm.reset();
          document.getElementById('id02').style.display='none';
          document.getElementById('id03').style.display='none';
      }
  </script>
  <!--This JavaScript is for scrolling to the active link in the side navigation bar-->
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          const activeLink = document.querySelector("a.active");
          if (activeLink) {
              const linkId = activeLink.id;
              const linkElement = document.getElementById(linkId);
              linkElement.scrollIntoView({ behavior: "smooth" });
          }
      });
  </script>
  <!--This is for the ScrollBar in the navBar-->
  <script>
  const nav = document.querySelector('nav');
  nav.addEventListener('scroll', () => {
      nav.classList.add('scrolling');
  });
  nav.addEventListener('mouseleave', () => {
      nav.classList.remove('scrolling');
  });
  nav.addEventListener('mouseover', () => {
      nav.classList.add('scrolling');
  });
  </script>

    </div>
  </div>
</div>
{% endblock %}
